<%= turbo_frame_tag @entry do %>
  <div>
    <h1 class="font-bold text-4xl">Editing Entry</h1>

    <%= render "form", entry: @entry %>

    <%= link_to "Back to Journal", journal_entries_path(@journal) %>
  </div>
<% end %>
